<a href="https://colab.research.google.com/github/AkshayNikam123/python-topicwise/blob/main/json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json

In [ ]:

x =  { "name":"John", "age":30, "city":"New York"}
y=json.loads(x)
print(y["age"])

TypeError: ignored

In [ ]:
x =  '{ "name":"John", "age":30, "city":"New York"}'
y=json.loads(x)
print(y["age"])

30

In [ ]:
'''import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])'''

'import json\n\n# some JSON:\nx =  \'{ "name":"John", "age":30, "city":"New York"}\'\n\n# parse x:\ny = json.loads(x)\n\n# the result is a Python dictionary:\nprint(y["age"])'

In [ ]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
#convert into json
y=json.dumps(x)
print(y["age"])

TypeError: ignored

In [ ]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

y=json.dumps(x)
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [ ]:
import json
#When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [ ]:
#format the result
print(json.dumps(x,indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [ ]:
print(json.dumps(x,indent=4,separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [ ]:
print(json.dumps(x,indent=4,sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}