<a href="https://colab.research.google.com/github/AkshayNikam123/python-topicwise/blob/main/loops%2Ccondition%2Cfunc_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=45
b=78
if a>=b:  #we can put diffrent condtion here a<b,a<=b,a>b,a!=b
  print(True)
else:
  print(False)

False

In [ ]:
a=45
b=78
if a>=b:  #we can put diffrent condtion here a<b,a<=b,a>b,a!=b
  print(True)
elif a!=b:
  print(False)

False

In [ ]:
a=45
b=78
if a>b: print("yes")

In [ ]:
print("True") if a>b else print(False)

False

In [ ]:
a=34
b=56
print("True") if a>b else print("not equal") if a==b  else("a=b")

'a=b'

In [ ]:
a=45
b=78
if a>=b and a<40 :  #we can put diffrent condtion here a<b,a<=b,a>b,a!=b
  print(True)
else:
  print(False)

False

In [ ]:
a=45
b=78
if a>=b or a<50 :  #we can put diffrent condtion here a<b,a<=b,a>b,a!=b
  print(True)
else:
  print(False)

True

In [ ]:
a=45
if a>50:
  print("above")
  if a>45:
    print("above")
else:
    print("below")

below

#LOOPS

In [ ]:
i=1
while i<7:
  print(i)
  i+=1

1
2
3
4
5
6

In [ ]:
i=0
while i<6:
  print(i)
  if i==4:
    break
  i+=1

0
1
2
3
4

In [ ]:
i=0
while i<6:
   i+=1
   if i==3:
     continue
   print(i)

1
2
4
5
6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [ ]:
for i in "banana":
  print(i)

b
a
n
a
n
a

In [ ]:
for i in fruits:
  print(i)
  if i=="banana":
    break

apple
banana

In [ ]:
for i in fruits:
  
  if i=="banana":
    break
  print(i)

apple

In [ ]:
for i in fruits:
  if i=="banana":
    continue
  print(i)

apple
cherry

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(2,30,3):
  print(i)

2
5
8
11
14
17
20
23
26
29

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#Function

In [ ]:
def my_name(name):
  return name
my_name("akshay")

'akshay'

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_name(name):
  print(name+" Nikam")
my_name("akshay")
my_name("veena")

akshay Nikam
veena Nikam

In [ ]:
def my_name(firstname,lastname):
  return (firstname+" "+lastname)

my_name("akshay","nikam")

'akshay nikam'

In [ ]:
def my_name(firstname,lastname):
  return (firstname+" "+lastname)

my_name("akshay")

TypeError: ignored

In [ ]:
def everyonecallme(*name):
  print("my pet name is:",name[2])
everyonecallme("akshay","hemant","nik")

my pet name is: nik

In [ ]:
def everyonecallme(*name):
  return name
everyonecallme("akshay","hemant","nik")

('akshay', 'hemant', 'nik')

In [ ]:
def info(name,age,height):
  return name,age,height
info(name="akshay",age=27,height=5.7)

('akshay', 27, 5.7)

In [ ]:
def bikes(**bikename):
  print("my fav one is:",bikename["third"])
bikes(first="ktm",second="zxtr",third="dominor")

my fav one is: dominor

In [ ]:
def info(**mine):
  print("name is:",mine["name"])
info(name="akshay",age=27,height=5.7)

name is: akshay

In [ ]:
def mycountry(country="india"):
  print("my country is:",country)
  mycountry()

In [ ]:

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def myfun(cuisine="sphagetti"):
  print("i like:",cuisine)
myfun("puranpoli")
myfun("seafood")
myfun()

i like: puranpoli
i like: seafood
i like: sphagetti

In [ ]:
def even(fromlist):
  for x in fromlist:
    print(x)
list=[2,4,6,8]
even(list)

2
4
6
8

In [ ]:
def mul(x):
  return 5*x
mul(3)

15

In [ ]:
def add(x,y):
  return x+y
add(234,456)

690

In [ ]:
def myfunction():
  pass

In [ ]:
def factorial(n):
  if (n==0 or n==1):
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [ ]:
def fibonacci(n):
  if n<=1:
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(6))

8

#lambda function

In [ ]:
lambda a,b,c:a*b*c
print(2,3,4)

2 3 4

In [ ]:
x=lambda a,b,c:a*b*c
print(x(2,3,4))

24

In [ ]:
def my_fun(n):
  return lambda a:a*n
doubler=my_fun(2)
tripler=my_fun(3)

print(doubler(45),
tripler(12))

90 36

#Array

In [ ]:
cars=["Mercedes","BMW","toyoto","tata"]

In [ ]:
cars[2]

'toyoto'

In [ ]:
cars[2]="mahindra"

In [ ]:
cars

['Mercedes', 'BMW', 'mahindra', 'tata']

In [ ]:
len(cars)

4

In [ ]:
cars.append("MG")

In [ ]:
cars

['Mercedes', 'BMW', 'mahindra', 'MG']

In [ ]:
cars.pop()

'MG'

In [ ]:
cars.remove("BMW")

In [ ]:
cars

['Mercedes', 'mahindra']

In [ ]:
for i in cars:
  print(i)

Mercedes
mahindra