<a href="https://colab.research.google.com/github/AkshayNikam123/python-topicwise/blob/main/OOps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#classes

In [ ]:
class myclass():
  x=5

In [ ]:
p1=myclass()
print(p1.x())

TypeError: ignored

In [ ]:
class person:
  def _init_(self,name,age):  #--init--
    self.name=name
    self.age=age

p1=person(self,"akshay",27)
p1.name

NameError: ignored

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John",27)
print(p1)

<__main__.Person object at 0x7f3b225adb80>

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def __str__(self):
    return f"{self.name}({self.age})"

p1=person("akshay",27)

print(p1)

akshay(27)

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def myfunc(self):
    print("hello im:",self.name)

p1=person("hemant",26)
p1.myfunc()

hello im: hemant

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()
#instead of self use another

Hello my name is John

In [ ]:
p1.age=27

In [ ]:
print(p1.age)

27

In [ ]:
del p1.age

In [ ]:
print(p1.age)

AttributeError: ignored

In [ ]:
del p1

In [ ]:
class person:
  pass

#inheritance

In [ ]:
#parent class
class person:
  def __init__(self,name,lastname,age):
    self.fname=name
    self.lname=lastname
    self.age=age
  def printname(self):
    return self.fname,self.lname

x=person("akshay","nikam",27)
x.printname()

('akshay', 'nikam')

In [ ]:
#child class
class student(person):
  pass

In [ ]:
x=student("rohan","salunkhe",20)
x.printname()

('rohan', 'salunkhe')

In [ ]:
#add feature to child class without just pass here init of parent is replaced by defined init in child
class student(person):
  def __init__(self,age,job):
    
    self.age=age
    self.job=job

In [ ]:
x=student(27,"datascientist")
print(x.age)

27

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
class person:
  def __init__(self,firstname,lastname,age):
    self.fname=firstname
    self.lname=lastname
    self.age=age
  def printname(self):
    return self.fname,self.lname
class student(person):
  def __init__(self,firstname,lastname,age):
    person.__init__(self,firstname,lastname,age)

x1=student("Akshay","nikam",27)
x1.age

27

In [ ]:
class person:
  def __init__(self,firstname,lastname,age):
    self.fname=firstname
    self.lname=lastname
    self.age=age
  def printname(self):
    return self.fname,self.lname
class student(person):
  def __init__(self,firstname,lastname,age):
    super().__init__(firstname,lastname,age)

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

In [ ]:
class person:
  def __init__(self,firstname,lastname,myage):
    self.fname=firstname
    self.lname=lastname
    self.age=myage
  def printname(self):
    return self.fname,self.lname
class student(person):
  def __init__(self,firstname,lastname,myage,year):
    super().__init__(firstname,lastname,myage)
    self.graduationyear=year

x3=student("akshay","nikam",27, 2019)
x=person("sundar","pichai",45)
print(x3.graduationyear)

2019

In [ ]:
x3.fname

'akshay'

In [ ]:
x.printname()

('sundar', 'pichai')

#polymorphism

In [ ]:
class pycharm:
  def execute(self):
    print("compiling")
    print("running")


class laptop:
  def code(self,ide):
    ide.execute()

ide=pycharm()
lap1=laptop()
lap1.code(ide)

compiling
running

In [ ]:
#operator overloading

class student:
  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m2

s1=student(23,45)
s2=student(43,56)
s3=s1+s2

TypeError: ignored

In [ ]:
class student:
  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m2
  def __add__(self,other):
    m1=self.m1+other.m1
    m2=self.m2+other.m2
    s3=student(m1,m2)
    return s3

s1=student(23,45)
s2=student(43,56)
s3=s1+s2
print(s3.m1)

66

In [ ]:
class student:
  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m2
  def __gt__(self,other):
    r1=self.m1+self.m2
    r2=self.m1+self.m2
    if r1>r2:
      return True
    else:
      return False

s1=student(23,45)
s2=student(43,56)

if s1>s2:
  print("s1 wins")
else:
  print("s2 wins")

s2 wins

In [ ]:
print(s1)#gives location but want value

<__main__.student object at 0x7f6a05db4df0>

In [ ]:
class student:
  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m2
  def __gt__(self,other):
    r1=self.m1+self.m2
    r2=self.m1+self.m2
    if r1>r2:
      return True
    else:
      return False
  def __str__(self):
    return '{} {}'.format (self.m1,self.m2)

s1=student(23,45)
s2=student(43,56)

if s1>s2:
  print("s1 wins")
else:
  print("s2 wins")

s2 wins

In [ ]:
print(s1)
print(s2)

23 45
43 56

#polymorphism

#1.method overloading

In [ ]:
class student:
  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m2

  def sum(self,a=None,b=None,c=None):
    s=0
    if a!=None & b!=None & c!=None:
       s=a+b+c
    elif a!=None & b!=None :
       s=a+b
    else:
       s=a
       
    return s

  s1=student(20,30)
  s1.sum(3,4,5)

AttributeError: ignored

# 2.method overriding

In [ ]:
class a:
  def show(self):
     print("its a here")

class b(a):
  pass

s1=b()
s1.show()

its a here

In [ ]:
class a:
  def show(self):
     print("its a here")

class b(a):
    def show(self):
      print("its b here")

s1=b()
s1.show()

its b here

#Encapsualtion